<form action="/api/v1/weather/" method="post" class="form-horizontal">
    <div class="form-group">
        <label for="city" class="col-xs-2 control-label">City</label>
        <div class="col-xs-10">
            <input name="city" type="text" placeholder="Enter a City" class="form-control" required>
        </div>
    </div>
    <div class="form-group">
        <label for="country" class="col-xs-2 control-label">Country</label>
        <div class="col-xs-10">
            <input name="country" type="text" placeholder="Enter a Country" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <input type="submit" value="Get Weather" class="btn btn-primary">
        </div>    
    </div>
</form>